# Exercise 4.10 Task - Part 1

#### Table of Contents
#### 1. Importing the dataset
#### 2. Importing the dataset
#### 3. Comparing the customers behavior based on geographic areas.
#### 4. Exclude any customers who have less than 5 orders. The CFO isn't interested in these cusomters in the analysis.

### 1. Importing the dataset

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Setting the default path

path = r'C:\Users\peter\Desktop\Career Foundry - Data Analyst\Data Immersion\Achievement 4 - Python\01. Instacart Basket Analysis - June 2023'

In [3]:
# Importing the 'customer_order_product_merged' dataset

df_merged = pd.read_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'customer_order_product_merged.pkl'))

In [4]:
df_merged.head()

,user_id,first_name,last_name,sex,state,age,date_joined,n_dependants,fam_status,income,...,busiest_day,daily_activity,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spend_flag,median_days_since,order_behavior_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Least busy days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both

In [5]:
df_merged.shape

(32404859, 34)

### 2. Consider an PII data in the dataset. 

#### Decide how to address the data if necessary. Because the first and last names of the customers would be considered PII data, we are going to drop these columns.

In [6]:
# Dropping the first_name and last_name columns. 

df_merged.drop(['first_name', 'last_name', 'busiest_day', 'daily_activity'], axis = 1, inplace = True)

In [7]:
# Checking the results 

df_merged.head()

,user_id,sex,state,age,date_joined,n_dependants,fam_status,income,order_id,eval_set,...,prices,price_range_loc,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spend_flag,median_days_since,order_behavior_flag,_merge
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,2543867,prior,...,9.0,Mid-range product,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,1285508,prior,...,9.0,Mid-range product,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,2578584,prior,...,9.0,Mid-range product,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,423547,prior,...,12.6,Mid-range product,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,2524893,prior,...,12.6,Mid-range product,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both

### 3. Comparing the customers behavior based on geographic areas.

#### We will be creating a regional segmentation of the data. A new column called "reguion" will be added to the dataset and will be based on the customers State.

In [8]:
# Creating a list called 'region' based on location criteria

region = []

for value in df_merged['state']:
    if value in ['Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut','New York','Pennsylvania','New Jersey']:
        region.append('Northeast')
    elif value in ['Wisconsin','Michigan','Illinois','Indiana','Ohio','North Dakota','South Dakota','Nebraska','Kansas','Minnesota','Iowa','Missouri']:
        region.append('Midwest')
    elif value in ['Delaware','Maryland','District of Columbia','Virginia','West Virginia','North Carolina','South Carolina','Georgia','Florida','Kentucky','Tennessee','Mississippi','Alabama','Oklahoma','Texas','Arkansas','Louisiana']:
        region.append('South')
    else:
        region.append('West')

In [9]:
# Convert the list to a pandas Series

region_series = pd.Series(region)

# Use value_counts() to get the count of each unique value in the Series

region_series.value_counts()

South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
dtype: int64

In [10]:
# Adding the list 'region' to our df_merged dataframe

df_merged['region'] = region

In [11]:
# Checking results to see that the column was added 

df_merged.head()

,user_id,sex,state,age,date_joined,n_dependants,fam_status,income,order_id,eval_set,...,price_range_loc,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spend_flag,median_days_since,order_behavior_flag,_merge,region
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,2543867,prior,...,Mid-range product,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both,Midwest
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,1285508,prior,...,Mid-range product,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both,Midwest
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,2578584,prior,...,Mid-range product,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both,Midwest
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,423547,prior,...,Mid-range product,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both,Midwest
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,2524893,prior,...,Mid-range product,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both,Midwest

### Determine if there is a difference in spending habits between the different U.S. regions. 

#### We are going to use a crosstab to compare the two variables.

In [12]:
# Creating crosstab 

crosstab_region = pd.crosstab(df_merged['region'], df_merged['spend_flag'], dropna = False)

In [13]:
# Adding in a % column of 'High spender' out of the total spending population

crosstab_region['High Spender %'] = crosstab_region.apply(lambda row: row['High spender'] / (row['High spender'] + row['Low spender']) * 100, axis=1)

In [14]:
# Adding in a % column of 'Low spender' as a percentage of the total spending population

crosstab_region['Low Spender %'] = crosstab_region.apply(lambda row: row['Low spender'] / (row['High spender'] + row['Low spender']) * 100, axis=1)

In [15]:
crosstab_region

spend_flag  High spender  Low spender  High Spender %  Low Spender %
region
Midwest           155975      7441350        2.053025      97.946975
Northeast         108225      5614511        1.891141      98.108859
South             209691     10582194        1.943043      98.056957
West              160354      8132559        1.933627      98.066373

#### We can see that the 'South' states have the highest proportion of 'Low Spenders' compared to the other states. The Northeast has the lowest number of Low Spenders. Proportionally though, the Midwest has the highest % of High Spenders compared to its total spender population. The Northeast has the lowest.

### 4. Exclude any customers who have less than 5 orders. The CFO isn't interested in these cusomters in the analysis. 

#### In order to do this, we will need to create a flag for each customer based on the max_order column. If it is < 5, we will exclude them from the altered dataset.

In [16]:
# Creating a 'customer_activity' column and 'High-activity' for >= 5 max orders

df_merged.loc[df_merged['max_order'] >= 5, 'customer_activity'] = 'High-activity'

In [17]:
# Creating the 'Low-activity' exclusion flag for < 5 max orders

df_merged.loc[df_merged['max_order'] < 5, 'customer_activity'] = 'Low-activity'

In [18]:
# Checking the results to see that the columns were added 

df_merged.value_counts('customer_activity')

customer_activity
High-activity    30964564
Low-activity      1440295
dtype: int64

In [19]:
# Creating a subset of the data for only the 'High-activity' customers so we can export them

df_high_activity = df_merged[df_merged['customer_activity'] == 'High-activity']

MemoryError: Unable to allocate 3.38 GiB for an array with shape (14, 32404859) and data type int64

In [ ]:
# Checking to see that it was created correctly

df_high_activity.shape

In [ ]:
# Exporting the df_high_activity subset so that we can analyze it further in a new notebook

df_high_activity.to_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'high_activity_customers.pkl'))

In [ ]:
df_merged.shape